*~
*.swp
*.swo
.vscode/
/docs
/build
foxglove_layout.json:Zone.Identifier
serow_layout.json:Zone.Identifier
/evaluation/unit_tests/build/
/evaluation/unit_tests/results/
/evaluation/mujoco_test/build/
/evaluation/mujoco_test/mujoco_data/*/est_*.bin
/evaluation/mujoco_test/mujoco_data/*/serow_predictions.h5
/python/serow/__pycache__/
/python/build/
/python/serow.egg-info/
/python/serow/contact_ekf.*.so
/python/serow/state.*.so
/python/serow/measurement.*.so
/python/trained_policy.pth
