.venv/
*~
*.swp
*.swo
.vscode/
/docs
/build
foxglove_layout.json:Zone.Identifier
serow_layout.json:Zone.Identifier
/evaluation/unit_tests/build/
/evaluation/unit_tests/results/
/evaluation/h1_test/build/
/evaluation/fsc_test/build/
/evaluation/mujoco_test/build/
/evaluation/mujoco_test/mujoco_data/*/est_*.bin
/evaluation/mujoco_test/mujoco_data/*/serow_predictions.mcap
/serow_hypertuner/build/
/python/serow/__pycache__/
/python/build/
/python/datasets/
/python/serow.egg-info/
/python/serow/serow.*.so
/python/*_log.npz
/python/models
/serow_ros2/build/
/serow_ros2/install/
/serow_ros2/log/
/python/datasets/*
/python/models/*
/python/*_test.npz
