<?xml version="1.0"?>
<launch>
  <group ns="EKF">
  <!-- Call SEROW -->
  <node pkg="serow" type="serow" name="serow" respawn="false" output="screen" >
 	<!-- Load configurations from YAML file to parameter server -->
   	 <rosparam file="$(find serow)/config/estimation_params_cogimon.yaml" command="load"/> 
  </node>
  </group>
  <group ns="inEKF">
   <node pkg="serow" type="serow" name="serow_inekf" respawn="false" output="screen" >
 	<!-- Load configurations from YAML file to parameter server -->
   	 <rosparam file="$(find serow)/config/estimation_params_cogimon_inEKF.yaml" command="load"/> 
  </node>
  </group>
</launch>
